.btn {
  font-size: 1.2rem;
  color: #fff;
  border: none;
  background-color: #0ec261;
  width: 160px;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #0a994d;
    // background-color: #006bad;
  }

  &:active {
    background-color: #077e3f;
    // background-color: #00609c;
  }

  &__margin {
    margin-top: 25px;
  }
}

.disabled {
  background-color: #777;
  &:hover,
  &:active {
    background-color: #777;
  }
}
